@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

body{
   background-image: linear-gradient(to right, white , rgb(110, 110, 110));
   
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 70px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    background: white;
    position: fixed;
}
.navigation .logo{
    color: black;
    font-size:xx-large;
    
}
.navigation .contato{
    width: 62%;

}

.logo span{
    color: black;
}
.navigation ul{
    display: flex;
    align-items:center;
    gap: 5rem;
    
}
.navigation ul li a{
    color: black;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}
.navigation ul li a:hover{
    color: gray;
    
}